venv/
example.env
__pycache__/
convergent/__pycache__
*.py[cod]
*$py.class
/var/lib/postgresql/data/
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.python-version
.vscode/